@model Peek.Web.ViewModels.Products.ProductViewModel

<div>
    @Html.LabelFor(m => m.Name)
    @Html.DisplayFor(m => m.Name)
    <br />

    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)
    <br />

    @Html.LabelFor(m => m.Price)
    @Html.DisplayFor(m => m.Price)
</div>
