@model Peek.Web.ViewModels.Products.ProductViewModel
@{
    ViewBag.Title = Model.Name;
}

<h2 class="text-center">@ViewBag.Title</h2>
<div>
    @if (User.IsAdmin())
    {
        @Html.ActionLink("Edit product", "Edit", "Products", new { id = Model.Id, area = "Administration" }, null)
        <br />
    }
    
    @if (User.IsLoggedIn())
    {
        @Ajax.ActionLink("Add to cart", "Add", "Cart", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
        <br />
    }

    @Html.LabelFor(m => m.Name)
    @Html.DisplayFor(m => m.Name)
    <br/>

    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)
    <br/>

    @Html.LabelFor(m => m.Price)
    @Html.DisplayFor(m => m.Price)
    <br/>

    @if (Model.ImageUrls != null)
    {
        foreach (var url in Model.ImageUrls)
        {
            <img src="@url" alt="img" class="img-responsive"/>
        }
    }
</div>
